table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
  margin: auto;
}
colgroup, tbody {
  border: solid medium;
}
td {
  border: solid thin;
  text-align: center;
  padding: 0;
  padding-top: 0;
  width: 2.5em;
  height: 2.5em;
  margin: 0;
}
canvas {
  display: none;
}
td p {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
#camera.hide{
  display:none;
}
#grid {}
#grid.hide {
  display: none;
}
#camImage {
  display: block;
  margin: auto;
}
#camImage.imageProcessed {
  display: none;
}
#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 7em;
}
.userInput.hide {
  display: none;
}
.userInput table {
  display: inline-block;
  margin-top: 3px;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.userInput td.noBorder, .editGrid td.noBorder {
  border: hidden;
}
.editGrid{

}
.editGrid.hide{
  display: none;
}
.imageFail {
  margin: auto;
  text-align: center;
}
.processButtons {
  margin-bottom: 10em;
}
.processButtons.hide, .imageFail.hide {
  display: none;
}
.center-wrapper {
  text-align: center;
}
.center-wrapper * {
  margin: auto;
  margin-top: 10px;
}
.ui-content {
  margin-bottom: 12em;
  /* The height of the footer */
}
