table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
  margin: auto;
}
colgroup, tbody {
  border: solid medium;
}
td {
  border: solid thin;
  text-align: center;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
}
#camImage {
  display: none;
}
#camImage.imageProcessed {
  display: block;
  width: 100%;
  margin: auto;
  display: none;
}
#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
canvas {
  display: none;
}
